@model TextViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>


<body>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="new" class="form-control" placeholder="New file" maxlength="20" pattern="[a-zA-Z0-9]">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" onclick=CreateClicked(this); class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>

 
    <div id="alert" class="alert alert-warning" role="alert" style="float: right">
        Ready
    </div>
 

    <div class="wrapper">

        <!-- Sidebar Holder -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <h3>Notes</h3>
            </div>

            <button type="button" id="add" data-toggle="modal" data-target="#myModal"  class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-plus"></i>
                @* <span>+</span> *@
            </button>

            <ul class="list-unstyled components">
                @{
                    foreach (var itm in Model.FileNames)
                    {
                        <li><a href="?Filename=@itm">@itm</a></li>
                    }
                }
            </ul>
        </nav>

        <div id="content">

            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
                @* <span>Sidebar</span> *@
            </button>
            <div id="summernote"></div>

        </div>

    </div>


    <script>
        $(document).ready(function() {

            $('#myModal').on('shown.bs.modal', function () {
              $('#new').focus()
            });

            var alert = $('#alert');
            $('#summernote').summernote();

            var to = 0;
            var data;
            var text = '@Model.Text';
            if (text)
                $('#summernote').summernote('editor.pasteHTML'  ,htmlDecode(text));

            $('#summernote').on('summernote.change', function(we, contents, $editable) {

               alert.html("Typeing");
               data =  JSON.stringify({ '@nameof(Model.Filename)': '@Model.Filename', '@nameof(Model.Text)': contents });
               clearTimeout(to);

                to = setTimeout(function() {

                    fetch("Home/Save",{
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: data
                    })
                    .then((response) => response.json())
                    .then((json) => {
                        console.log("response: "+json);
                        alert.html("response: "+json);
                    })
                    .catch((error) => {
                        console.log("Error: "+error);
                        alert.html("Error: "+error);
                    });

                }, 1500);


             });
         });

        function htmlDecode(input) {
           var doc = new DOMParser().parseFromString(input, "text/html");
           return doc.documentElement.textContent;
        }

        function CreateClicked(el) {
             var val = document.getElementById("new").value;
             window.location = window.location.origin+"?filename="+val;
        }

    </script>
</body>
</html>
